/* pagina-principal {
    display: flex;
    margin-top: 0%;
    
  }
  .cubo{
    width: 50%;
    height: 100%;
    background-color: rgb(219, 234, 247);
    position: absolute;
    opacity: 0.1;
  }
  
  body {
    margin: 0%;
    display: flex;
  }
  .video_background_1{
    width: 100vw;
    opacity: 7;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute ;
    height: 100%;
    width: 100%;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    opacity: 100;
  }
  
  .logo {
    width: 50%;
    height: 50%;
  }
  .lineas-negras{
    display: flex;
    justify-content: right;
    position: absolute;
    height: 100%;
    width: 100%;
    
  }
  .lineas-img{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
  }
  
  .texto-right-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;}
*/
.tabledesign{
    /*width:100% ;
    WIDTH:25%;
    align-items: center;
    text-align: center;
    hecho por cele, --por terminar-- ;D*/
    font-family: 'Quicksand', sans-serif;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.tabledesign thead tr{
    background-color: aqua;
    color: #ffffffff;
    text-align: left;
    font-weight: bold;
}
.tabledesign th
.tabledesign td{
    padding: 12px 15px;
}
.tabledesign tbody tr{
    border-bottom: solid #dddddddd;
    background-color: #f3f3f3;
}
.tabledesign tbody tr.active-row{
    font-weight: bold;
    color: aqua;
    /*cuando halla algo activo se muestra asi si le pones clase de active row*/
}
.positionrelative{
    position: relative;
    align-items: center;
}
.input{
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    padding: .6em .3em;
    border-top: none;
    border-left: none;
    border-right: none;
    border: bottom 1px black;
    outline: none;
}
.label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: Spx;
    transform: translate(10px);
    transition: transform .5s color .3s;
}
.input + .label,
.input:not(:placeholder-shown) + .label{
    transform: translateY(-12px) scale(.7);
    transform-origin: top left;

}
input:invalid{
    animation: shake .3s;
}
@keyframes shake{
    25% {transform: translateX(4px);}
    50% {transform: translateX(-4px);}
    75% {transform: translateX(4px);}
}

.headerbiblioteca{
  position: absolute;
  left: 48%;
  top: 48%;
  transform: translate(-50% -50%);
  padding: 10px;
  display: flex;
  align-items: center;
}
.formbuscador{
  margin: auto;
}
.divbuscador{
  display: flex;
  background-color: #fff;
  padding: 9px 22px 9px 26px;
  border-radius: 30px;
  border: 2px solid gainsboro;
  box-shadow: rgba 0 0 20px rgba(0, 0, 0, 0.15);
}
.inputbuscador{
  padding-left: 24px;
  font-weight: bold;
  background-image: url( /*img de nereo*/ );
  background-size: 16px;
  width: 0px;
  transition: all 1s;
}
.inputbuscador{
  outline: none;
  width: 300px;
}
.buttonañadir {

  background-color: rgb(34, 127, 142);
  border-color: white;
  border-width: 1px;
  border-radius: 3cm;
  color: white;
  /*cele*/
}
.button{
  text-align: center;
  color: rgb(255, 255, 255);
  /*Nacho y Mati*/
}
.linkk{
  text-align: center;
  background-color: rgb(90, 138, 227);
  color: rgb(193, 219, 240);
  border: 1.5px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 25px;
  padding: 10px 15px;
  margin: 20px 0;
<<<<<<< HEAD
}
=======
  
}
/*añadir novedades*/
.btn {

  border: none;
  background-color:rgb(128, 218, 128) ;
  padding-left: 14px 28px;
  font-size: 16px;
  cursor:pointer
  display inline-blok;
}

.success:hover{

  background-color: beige;
  color: white;
}

.success {color: white;}

.text-mid{
  text-align: center;
  align-items: center;
  align-self: center;

}
/*
>>>>>>> c77d54449a64617a4bb48a4622b3a3681d32a081
html {
  min-height: 100%;
  position: relative;
}
body {
<<<<<<< HEAD
=======
  text-align: center;
>>>>>>> c77d54449a64617a4bb48a4622b3a3681d32a081
  margin: 0;
  margin-bottom: 40px;
}
footer{
<<<<<<< HEAD
  text-align: center;
=======
>>>>>>> c77d54449a64617a4bb48a4622b3a3681d32a081
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
<<<<<<< HEAD
  height: 200px;
  color: white;
}
nav{
  text-align: center;
}
=======
  height: 250px;
  color: white;
}
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
.pie-pagina{
  width: 100%;
  background-color: #0a141d;
}
.pie-pagina .grupo1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo1 .box figure img{
  width: 250px;
}
.pie-pagina .grupo1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo1 .red-social a:hover{
  color: aqua;
}
.pie-pagina .grupo2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo2 small{
  font-size: 15px;
}
@media screen
>>>>>>> c77d54449a64617a4bb48a4622b3a3681d32a081
